<link href="/css/main.css" rel="stylesheet" />

<div class="main">
<center><h1>料理、いつくる?</h1></center>
<center><h1>今の空き具合</h1></center>
<meta neme="refresh" content="30">
      <tr>
       <center><h1>店1</h1></center>
      </tr>
      
      <br>
      
      <tr>
      <center><h1>店2</h1></center>
      </tr>
      
      <br>
      
      <tr>
       <center><h1>店3</h1></center>
      </tr>
      
      <br>
      
      <tr>
       <center><h1>店4</h1></center>
      </tr>
      
      <br>
      
      <tr>
       <center><h1>店5</h1></center>
      </tr>
      
    </table>
</div>
