/* line 1, /home/vagrant/itswitter/app/assets/stylesheets/promotion.scss */
.head_img {
  min-width: 320px;
  height: 800px;
  width: 100%;
  background-image: url("head.png");
  background-size: cover;
  display: table;
}

/* line 9, /home/vagrant/itswitter/app/assets/stylesheets/promotion.scss */
.layer_filter {
  background-color: rgba(0, 0, 0, 0.3);
  height: 800px;
}
