@charset "UTF-8";
/* color set */
/* all color valuable */
/*#F4A460*/
/*#f5f5f5*/
/*#fff*/
/*#333*/
/* line 27, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
html, body {
  position: relative;
  min-height: 100%;
}

/* 画面右にできる隙間対策 */
/* line 32, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.wrap {
  overflow: hidden;
}

/* line 36, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
body {
  margin-bottom: 70px;
  background-color: #f3eac5;
}

/* line 41, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.jumbotron {
  background-color: #f3eac5;
  /*color: #FFFFFF;*/
}

/* line 47, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.contents {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 57, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.footer {
  bottom: 0;
  pasition: absolute;
  width: 100%;
  height: 60px;
  background-color: #ffbf69;
}

/* line 65, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.container {
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

/* line 71, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.container .text-muted {
  margin: 20px 0;
}

/* h-line */
/* line 77, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.row-eq-height {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

/* line 86, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
img#explain {
  width: 80%;
  height: auto;
  max-width: 500px;
  max-height: 400px;
}

/* card */
/* line 94, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
.card {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 20px;
}

/* line 103, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-1 {
  padding: 5px;
}
/* line 104, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-1 p {
  margin: 0px;
}
/* line 110, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 {
  border-top: 1px solid #1d1a05;
  padding: 5px;
  display: flex;
}
/* line 112, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.state-part {
  border-right: solid 1px #1d1a05;
}
/* line 114, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.state-part div.state-icon {
  text-align: center;
}
/* line 117, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.state-part div.state-caption {
  text-align: center;
}
/* line 118, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.state-part div.state-caption p {
  font-size: calc(80% + 0.5vw);
  margin: 0px;
}
/* line 129, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.user-comment div.comment-part {
  margin-top: 2px;
}
/* line 130, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.user-comment div.comment-part a {
  font-size: calc(80% + 0.5vw);
  margin: 0px;
}
/* line 137, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-2 div.user-comment div.commenter-part p {
  margin: 0px;
}
/* line 149, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 {
  border-top: 1px solid #1d1a05;
  padding: 5px;
  display: flex;
}
/* line 150, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div {
  padding: 5px;
}
/* line 151, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.watch-part {
  text-align: center;
  border-right: solid 1px #1d1a05;
}
/* line 152, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.watch-part p {
  margin: 0px;
}
/* line 158, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.tell-part {
  text-align: center;
  border-right: solid 1px #1d1a05;
}
/* line 159, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.tell-part p {
  margin: 0px;
}
/* line 165, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.good-part {
  text-align: center;
}
/* line 166, /home/vagrant/itswitter/app/assets/stylesheets/sticky-footer-navbar.scss */
article.card-content-row-3 div.good-part p {
  margin: 0px;
}
