<div>
    <% @gozyuuonn.each_with_index do |aiu,index| %>
    <div style = "display: inline-block; _display: inline;">
      <font size="5"><%= button_to aiu, {:action => "all_rest", :pre_index => index} %></font>
    </div>
    <% end %>
    <br>
    <% @gozyuuonn2[@next_index][0..-1].each_with_index do |aiu2,index2| %>
    <div style = "display: inline-block; _display: inline;">
      <font size="5"><%= button_to aiu2, {:action => "all_rest", :pre_index2 => index2} %></font>
      <%#= render partial: '/restaurant_card', locals: { restaurants: @restaurants.initial_search(@gozyuuonn2[@next_index][@initial_word]), crowded_image: @crowded_image } %>
    </div>
    <% end %>
</div>

<div class="container">
  <h3>テスト</h3>
  <form action="test.html" method="get">
    <input type="hidden" id="alignment" name="selected" value="" />
    <div class="btn-group alignment" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info" name="aiueo">あいうえお</button>
      <button type="button" class="btn btn-info" name="kakikukeko">かきくけこ</button>
      <button type="button" class="btn btn-info" name="sasisuseso">さしすせそ</button>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>

<script>
  $(".alignment .btn").click(function() {
    $("#alignment").val($(this).attr('name'));
  }); 
</script>
