<header>
  <div>
    <h1>Suitell</h1>
    <h3>なんか書いとけ</h3>
    <br>
    <%= link_to "ログイン(要:twitterアカウント)", %>
  </div>
</header>
<article>
  <section>
  </section>
  <section>
  </section>
</article>
<footer>
</footer>
