$("#aiueo").html("<% @gozyuuonn2[@next_index.to_i][0..-1].each_with_index do |aiu2,index2| %> <button type='button' id='<%= @next_index %>-<%= index2 %>' class='btn btn-primary' name='<%= aiu2 %>' > <font size='4'> <%= aiu2 %> </font> </button> <% end %> ");

$("#show").html("");

$(".aiueo .btn").on("click", function(){
  var name = $(this).attr("name");
  $.ajax({
  url: "/restaurants/rest_show",
  type: "post",
  data: {res_name: name}
  })
});