@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
      table-layout: fixed;
      width: 100%;
}

.color-gold {
  color: gold;
}

.balloon {
  width: 60%;
  max-height: 64px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: -3px;
  left: 8px;
  font-size: xx-small;
}

.tenn {
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

//shop_info

table.company {
    width: 600px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 14px;
}
 
table.company th,
table.company td {
    padding: 10px;
}
 
table.company th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}
 
table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.company th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.company td {
    background: #f8f8f8;
    width: 360px;
    padding-left: 20px;
}

//スマホ
@media only screen and (max-width:480px){
table.company {
    width: auto;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}
 
table.company th,
table.company td {
    display:block;
    padding: 10px;
}
 
table.company th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    overflow: visible;
//  position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
//  position: absolute;
    pointer-events: none;
//  border-color: rgba(136, 183, 213, 0);
//  border-left-color: #295890;
//  border-width: 10px;
//  margin-top: -10px;
}
}


//output area part

.area_field {
position: relative;
padding: .25em 0 .5em .75em;
border-left: 6px solid #3498db;
font-size: 12px;
}
.area_field::after {
position: absolute;
left: 0;
bottom: 0;
content: '';
width: 100%;
height: 0;
border-bottom: 1px solid #ccc;
}