// Place all the styles related to the layouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer {
  margin-bottom: 50px;
}

#footerFloatingMenu {
  background-color: #222222;
  display: block;
  width: 100%;
  height: 45px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 9999;
  text-align: center;
  padding: 0 auto;

}

#footerFloatingMenu div {
  max-width: 99%

}
#footerFloatingMenu div span{
  line-height: 45px;
}
