<div class="jumbotron", style="height: 180px;">
  <center>
    <table class="table", frame="void", rules="none">
      <tbody>
        <tr>
          <td class="col-md-6", rowspan="2", valign="top", align="right", style="padding: 0px 0px;border-style: none;"><%= image_tag("Suitell-1-1.png", :size => "128x128") %></td>
          <td class="col-md-6", valign="bottom", align="left", style="vertical-align: bottom;padding: 20px 0px 0px;border-style: none;"><p>飯、待てぬ</p></td>
        <tr>
          <td valign="top", align="left", style="border-style: none;"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;食わねば</p></td>
        </tr>
        </tr>
      </tbody>
    </table>
  </center>
</div>
