<div class="jumbotron", style="height: 180px;">
  <table class="table", frame="void", rules="none">
    <td class="col-md-6", align="center" style="padding: 0px 0px;border-style: none;"><%= image_tag("top_icon.png", :class => "img-responsive") %></td>
  </table>
</div>
