<div class="container">
  <% restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <section class="card">

	<!-- store title -->
	<article class="card-content-row-1">
	  <p>あがり</p>
        </article>

	<!-- state & comment & commenter -->
        <article class="card-content-row-2">
	  <div class="state-part col-xs-4 col-sm-4 col-md-4 col-lg-4">
	    <div class="state-icon">
	      <%= image_tag(crowded_image[0], :size => "40x40") %>
	    </div>
	    <div class="state-caption">
	      <p>すいてる</p>
	    </div>
	  </div>
	  <div class="user-comment col-xs-8 col-sm-8 col-md-8 col-lg-8">
	    <div class="comment-part">
	      <p>ここにコメントを書けばいいのか。</p>
	    </div>
	    <div class="commenter-part">
	      <p>@akio_r</p>
	    </div>
	  </div>
	</article>

	<!-- watch & tell & good! buttons -->
	<article class="card-content-row-3">
	  <div class="watch-part col-xs-4 col-sm-4 col-md-4 col-lg-4">
	    <p>お店を</p>
	    <button type="button" class="btn btn-default btn-xs">watch</button>
	  </div>
	  <div class="tell-part col-xs-4 col-sm-4 col-md-4 col-lg-4">
	    <p>状況を</p>
	    <button type="button" class="btn btn-default btn-xs">伝える</button>
	  </div>
	  <div class="good-part col-xs-4 col-sm-4 col-md-4 col-lg-4">
	    <p>コメントを</p>
	    <button type="button" class="btn btn-default btn-xs">いいね！</button>
	  </div>
	</article>

      </section>
    </div>
  <% end %>
</div>
