<%= render '/flash_msg2' %>
<%= render '/eyecatch' %>

<div class="contents">
  <h4>お気に入りの飲食店一覧</h4>
  <%= render partial: '/restaurant_card', locals: { restaurants: @my.restaurants.order("updated_at desc"), crowded_image: @crowded_image } %>
</div>
