<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" neme="refresh" content="3"> 
    <title>混雑を通知するページ</title>
  </head>
  <body>
    <h1></h1>
    <table>
      <tr>
        <th scope="col">
          店名
        </th>
        <th scope="col">
          座席占有率
        </th>
        <th scope="col">
          客数入力欄
        </th>
      </tr> 

      <tr>
        <th>
          我流屋
        </th>
        <th>
          0 %
        </th>
	<th>
          <input type="text" name="example1" size="5" value="0人">
        </th>
        <th>
          <button type="submit" name="1" value="1">更新</button>
        </th>
      </tr>
      
      <tr>
        <th>
          鳥玉
        </th>
        <th>
          0 %
        </th>
	<th>
	  <input type="text" name="example1" size="5" value="0人"> 
	</th>  
        <th>
          <button type="submit" name="2" value="1">更新</button>
        </th>
      </tr>
      
      <tr>
	<th>
          通堂
        </th>
        <th>
          0 %
        </th>
	<th>
          <input type="text" name="example1" size="5" value="0人">
        </th>
        <th>
          <button type="submit" name="3" value="1">更新</button>
        </th>
      </tr>

      <tr>
	<th>
          あがり
        </th>
        <th>
          0 %
        </th>
	<th>
          <input type="text" name="example1" size="5" value="0人">
        </th>
        <th>
          <button type="submit" name="4" value="1">更新</button>
        </th>
      </tr>

      <tr>
	<th>
          三竹寿
        </th>
        <th>
          0 %
        </th>
	<th>
          <input type="text" name="example1" size="5" value="0人">
        </th>
        <th>
          <button type="submit" name="5" value="1">更新</button>
        </th>
      </tr>
    </table>

    <!--<button type="submit" name="reset" value="0">混雑状況をリセット！</button>-->
  </body>
</html>
