<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>混雑を通知するページ</title>
  </head>
  <body>
    <h1></h1>
    <table>
      <tr>
        <th scope="col">
          店名
        </th>
        <th scope="col">
          混雑プッシュ数
        </th>
        <th scope="col">
          混雑ボタン
        </th>
      </tr> 

      <tr>
        <th>
          我流屋
        </th>
        <th>
          0
        </th>
        <th>
          
        </th>
      </tr>
      
      <tr>
        
      </tr>
      
      <tr>

      </tr>

      <tr>

      </tr>

      <tr>

      </tr>
    </table>
  </body>
</html>
